body {
  margin: 0;
  height: 100vh;
}
.bird {
  position: absolute;
  bottom: 300px;
  background-image: url("./img/flappy-bird.png");
  height: 45px;
  width: 60px;
}
.pipe {
  position: absolute;
  bottom: 0;
  background-image: url("./img/flappybird-pipe.png");
  background-size: cover;
  width: 60px;
}
.pipe2{
  position: absolute;
  bottom: 0;
  background-image: url("./img/flappybird-pipe.png");
  background-size: cover;
  width: 60px;
  transform: rotate(180deg);
}
#background {
  position: absolute;
  bottom: 50;
  background-image: url("./img/fb-game-background.png");
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: calc(100vh - 50px);
  animation: moveleft 3000s infinite linear;
  -webkit-animation: moveleft 3000s infinite linear;
}
#ground{
  position: absolute;
  bottom: 0;
  background-image: url("./img/bottom-background.png");
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 50px;
  animation: moveleft 3000s infinite linear;
  -webkit-animation: moveleft 3000s infinite linear;
}
#score {
  text-align: center;
}
#container {
  background-image: url("./img/fb-game-background.png");
  background-size: contain;
  position: absolute;
  height: calc(100vh - 50px);
  width: 100vw;
  text-align: center;
  display: none;
}
#containerGround{
  position: absolute;
  bottom: 0;
  background-image: url("./img/bottom-background.png");
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 50px;
  display: none;
}
#alert {
  text-align: center;
  margin-top: 40vmin;
}
#reload {
  text-align: center;
}
@keyframes moveleft {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0%;
  }
}
@-webkit-keyframes moveleft {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0%;
  }
}
